*{
  margin: 0;
  padding: 0;
}
.gray{
  color: #adb5bd;
}

.container_table{
  max-width: 80vw;
  margin: 0 auto;
}

body{
  background-color: #faf9f9;
}


.flex{
  display: flex;
}

.center{
  align-items: center;
  justify-content: center;
}

.f-row{
  flex-direction: row;
}

.f-column{
  flex-direction: column;
}
